<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129707365-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-129707365-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.title }}">
    <meta name="author" content="{{ site.name }}">
    <title>{{ site.title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ "/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ "/css/the-big-picture.css" | relative_url }}" rel="stylesheet">

    <!-- font awesome for social media icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- tab icon -->
    <link href="{{ "/favicon.ico" | relative_url }}" rel="shortcut icon" />

    <!-- MathJax to render formulas -->
<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
       <script type="text/x-mathjax-config">
         MathJax.Hub.Config({
           tex2jax: {
             inlineMath: [ ['$','$'], ["\\(","\\)"] ],
             processEscapes: true
           }
         });
       </script>
       <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
       
</head>

  <body>

    <!-- Navigation Bar -->
    <!--
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
      <div class="container">
        <a class="navbar-brand" href="{{ site.url }}" ><i class="fas fa-home"></i></a>
        <span style="display:inline-block; width:0.1cm;"></span>
        <a class="navbar-brand" href="mailto:{{ site.email }}?subject=Hello">{{ site.email }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ site.resume | relative_url }}">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ site.google_scholar }}">Google scholar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/{{ site.github_username }}">GitHub</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.linkedin.com/in/{{ site.linkedin_username  }}">LinkedIn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/feed.xml" | relative_url }}">RSS</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    -->

    <main>
      <section>
      <div class="container">
        <div class="row">
        {{ content }}
        </div>
      </div>
      </section>
    </main>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ "/vendor/jquery/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
  </body>

</html>
