---
layout: default
---

<!-- 4 lines common to all pages -->
<main>
<section>
<div class="container">
<div class="row">


<div class="home">

    <div class="col-lg-7 jumbotron myTransparentBackground">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <h1 class="page-heading">{{ site.title }}</h1>
  <p> {{ site.description }} </p>

  <hr class="my-4">
  {%- if site.posts.size > 0 -%}
    <h5>{{ page.list_title | default: "Posts" }}</h5>
    <ul class="list-unstyled">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%Y" -%}
        {{ post.date | date: date_format }}
        <span style="display:inline-block; width:0.1cm;"></span> <a class="mt-3" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a> 
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  <hr class="my-4">
  {%- endif -%}
            <div align="center">
            <h5>
              <a href="mailto:{{ site.email }}?subject=Hello" title="e-mail"><i class="far fa-envelope"></i></a>
              <span style="display:inline-block; width:0.1cm;"></span>
	      <!-- <a href="{{ site.resume }}" title="Resume"><i class="ai ai-cv cv-1x"></i></a> -->
	      <a href="{{ site.resume }}" title="Resume"><i class="far fa-user-circle"></i></a>
              <span style="display:inline-block; width:0.1cm;"></span>
	      <a href="{{ site.resources_permalink }}" title="Books and Resources"><i class="fas fa-book"></i></a>
              <span style="display:inline-block; width:0.1cm;"></span>
	      <a href="{{ site.google_scholar }}" title="Google scholar"><i class="ai ai-google-scholar ai-1x"></i></a>
              <span style="display:inline-block; width:0.1cm;"></span>
              <a href="https://github.com/{{ site.github_username }}" title="GitHub"><i class="fab light fa-github"></i></a>
              <span style="display:inline-block; width:0.1cm;"></span>
              <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
              <span style="display:inline-block; width:0.1cm;"></span>
              <a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter"><i class="fab fa-twitter"></i></a>
              <span style="display:inline-block; width:0.1cm;"></span>
              <a href="{{ "/feed.xml" | relative_url }}" title="RSS feed"><i class="fas fa-rss"></i></a>
              <!--
              <a href="mindmap.pdf" title="mindmap"><i class="fas fa-brain" alt="knowledge map"></i></a>
              <span style="display:inline-block; width:0.1cm;"></span>
              <span style="display:inline-block; width:0.1cm;"></span>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <span style="display:inline-block; width:0.1cm;"></span>
              <a href="#"><i class="fab fa-facebook-f"></i></a>-->
            </h5>
            </div> 
  {{ content }}
  </div>
</div>


<!-- 4 lines common to all pages -->
</div>
</div>
</section>
</main>
